<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/prettify.css" />
        <link rel="stylesheet" href="/css/sons-of-obsidian.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" src="/js/prettify.js"></script>
        <script type="text/javascript" charset="utf-8">
            //
        </script>
        <title>{{ page.title}}</title>
    </head>
    <body onload="prettyPrint();">
        <div class="container" style="margin-top:50px">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">tiddr</a>
                        <div class="nav-collapse">
                            <!--<ul class="nav">-->
                                <!--<li><a>订餐电话 <strong>400-899-2828</strong></a></li>-->
                            <!--</ul>-->

                            <ul class="nav pull-right">
                                <!--<li><a><i class="icon-map-marker"></i>送餐范围</a></li>-->
                                <!--<li><a><i class="icon-search"></i>订单查询</a></li>-->
                                <!--<li><a><i class="icon-search"></i>积分查询</a></li>-->
                                <!--<li><a><i class="icon-user"></i>登陆</a></li>-->
                                <!--<li><a><i class="icon-shopping-cart"></i>购物车(200)</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {{ content }}
        </div>
    <footer>
    <p>
    <a href="http://tiddr.de/blog">以前的blog</a>
    <a href="http://tingwang.twitter.com">twitter</a>
    </p>
    <p style="color: #777777">
    <small><em>copyright© 2012 Ting Wang </em></small>
    </p>   
    <p style="color: #777777">
    <small><em>powered by vim</em></small>
    </p>   
    
    </footer>
        
    </body>
</html>
