<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <title>{{ page.title}}</title>
    </head>
    <body>
        <div class="container">
            {{ content }}
        </div>
    <footer>
    <p>
    <a href="http://tiddr.de/blog">以前的blog</a>
    <a href="tingwang.twitter.com">twitter</a>
    </p>
    <p style="color: #777777">
    <small><em>copyright© 2012 Ting Wang </em></small>
    </p>   
    <p style="color: #777777">
    <small><em>powered by vim</em></small>
    </p>   
    
    </footer>
        
    </body>
</html>
